*{box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body{
    background-image: linear-gradient(to right, violet, purple);
}

header{
    background-color: purple;
    color: white;
    padding: 6px;
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
   
}

header h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header span{
    font-size: 10px;
    margin-left: 150px;
}

h4 {
    position: relative;
    left:-180px;
    top: 0px;
}
 #si{ 
    background-image: url("bank1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   
}

 /*.container-wrap{ 
    overflow: hidden;
    position: relative;
}

.container1{
    position: relative;
}

#image1{opacity: 0.5;
position: absolute;
left: 0;
top:0;
width:100%;
  height: 1000px;}  */

body{text-align: center;}
form{
    padding-bottom:16px;
    margin: 150px 15px 0 15px;
    
}
form label{
   
    padding: 6px;
  
}

.box{
    margin-top: 68px;
}
.box2{
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 10px;
    padding: 20px;

 
   
}

.box2 div{
    background-color: black;
    padding: 20px;
}

.box2 a{
text-decoration: none;
 
}
form input {
      border: 2px solid purple ;
      padding: 6px;
      border-radius: 10px;
      margin-top: 15px;
  
  }
  ::placeholder{
    transition: 0.7s
  }
input:focus::placeholder{
transform: translateY(40px);
}
input.submit, button{
    background-color: purple;
    color: white;
    border-radius:15px;
    margin-bottom: 10px;
}
.container1 p {
    
    color: black;
 
}

button a{
    color: white;
    padding: 6px;
    text-decoration: none;
    margin-bottom: 30px;
}
button:hover{
    background-color: black;
}
p a{
    text-decoration: none;
    color: cyan;
}

footer {
    background-color: purple;
    color: white;
    padding: 16px;
    position:absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.alertbox{
    width: 70%;
    height:25px;
    background-color: white;
    z-index: 10000;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 240px;
    left: 80px;
    
}

@media only screen and (max-width:628px)

{ header {
    text-align: center;
}
#balance, h4{
    position: relative;
    left: -200px;
    top: 0;

}
}
@media only screen and (min-width: 628px)

{
 
    form input{
        width: 450px;
    }
    fieldset{
        margin: 0 60px
    }
    .submit{
        width: 80px;
    }
   #balance, h4{
        position: relative;
        left: -450px;
        top: 0;
    }
}